@(loginForm: Form[User])

    @main("Register") {
        <div id="idiv" class="row">

            <div class="col-md-12">
                <h1 align="center">Register</h1>
            </div>

            <script type="text/javascript">
            function validate () {
            var pass = document.getElementById('password').value;
            var passValidate = document.getElementById('inputPasswordVerify').value;

            var warningShort = document.getElementById('warningTooShort');
            warningShort.innerHtml = '';

            var warningEquality = document.getElementById('warningNotEqual');
            warningEquality.innerHTML = '';

            if (pass.length < 6) {
            warningShort.className = 'label label-danger';
            warningShort.innerHTML = 'Password should be at least 6 Characters long!'
            return false;
            }
            if (pass != passValidate) {
            warningEquality.className = 'label label-danger';
            warningEquality.innerHTML = 'Passwords do not match!';
            return false;
            }
            }
            </script>

            <script>
            function checkToS(cb) {
                var registerBtn =  document.getElementById('bt1');
                document.getElementById('bt1').disabled = !cb.checked;
            }
            </script>

            <div class="col-md-3 col-md-offset-2">

                <form class="form-horizontal" method="post" onsubmit="return validate()" action="@routes.RegisterController.register()">
                    <div class="form-group">
                        <h3 class="form-signin">Please fill out the form</h3>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName">Name</label>
                        <input type="firstName" name="firstName" placeholder="Name" id="firstName" class="form-control" value="@loginForm("firstName").value" required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="inputSurname">Surname</label>
                        <input type="surName" name="surName" placeholder="Surname" id="surName" class="form-control" value="@loginForm("surName").value" required>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">E-mail</label>
                        <input type="email" name="email" placeholder="E-mail" id="email" class="form-control" value="@loginForm("email").value" required>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                        <div id="warningTooShort"></div>
                    </div>

                    <div class="form-group">
                        <label for="inputPasswordVerify">Repeat Password</label>
                        <input type="password" name="password" id="inputPasswordVerify" class="form-control" placeholder="Repeat Password" required>
                        <div id="warningNotEqual"></div>
                    </div>

                    <div class="form-group">
                         <p>
                            <input type="checkbox" aria-label="..." id="acceptToS" onclick="checkToS(this)">
                            I accept the <a data-toggle="modal" data-target="#ToSModal">Terms of Service</a>.
                         </p>

                            <!-- Modal -->
                        <div class="modal fade" id="ToSModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Terms of Service</h4>
                                    </div>
                                    <div class="modal-body">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="bt1" type="submit" class="btn btn-primary" disabled="disabled">Register</button>
                        <a class="btn btn-default" href="@routes.LoginController.loginPage()">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    }
