@(form: Form[LoginData])(email: String)

@main("restore Password") {
    <div class="col-md-12 col-md-offset-0">
        <h1 align="center">Change Password</h1>
    </div>

    <script type="text/javascript">
    function validate () {
    var pass = document.getElementById('password').value;
    var passValidate = document.getElementById('inputPasswordVerify').value;

    var warningShort = document.getElementById('warningTooShort');
    warningShort.innerHtml = '';

    var warningEquality = document.getElementById('warningNotEqual');
    warningEquality.innerHTML = '';

    if (pass.length < 6) {
    warningShort.className = 'label label-danger';
    warningShort.innerHTML = 'Password should be at least 6 Characters long!'
    return false;
    }
    if (pass != passValidate) {
    warningEquality.className = 'label label-danger';
    warningEquality.innerHTML = 'Passwords do not match!';
    return false;
    }
    }
    </script>

    <form method="post" onsubmit="return validate()" action="@routes.UserDataController.restorePassword(email)">

        <div class="col-md-10 col-md-offset-2">
            <div class="form-group">
                <h3>Please enter your new password</h3>
            </div>
        </div>

        <div class="col-md-3 col-md-offset-2">

            <div class="form-group">
                <label for="inputPassword" >Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                <div id="warningTooShort"></div>
            </div>

            <div class="form-group">
                <label for="inputPasswordVerify" >Repeat Password</label>
                <input type="password" name="password" id="inputPasswordVerify" class="form-control" placeholder="Repeat Password" required>
                <div id="warningNotEqual"></div>
            </div>

            <div class="form-group">
                <button id="bt1" type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-default"  href="@routes.LoginController.loginPage()">Cancel</a>
            </div>
        </div>
    </form>
}